In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('C:\\Users\\jaisw\\Desktop\\Sabni_sir_project\\Covid_classification_project_dataset.xlsx')

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4626 entries, 0 to 4625
Data columns (total 30 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Sr No                                            4626 non-null   int64
 1   Hospital Code                                    4626 non-null   object
 2   Case No.                                         4625 non-null   object
 3   Age                                              4600 non-null   float64
 4   Gender                                           4624 non-null   object
 5   Ward                                             4623 non-null   object
 6   Occupation                                       348 non-null    object
 7   District                                         4626 non-null   object
 8   State                                            4626 non-null   object
 9   Date of arrival in India                         13 non-null     datetime64[ns]
 10  Travel to COVID afftected country (Yes/No)       134 non-null    object
 11  Flight No                                        133 non-null    object
 12  Seat No                                          6 non-null      object
 13  Contact with COVID19 case (Yes/No)               690 non-null    object
 14  Date of onset of symptoms                        3139 non-null   datetime64[ns]
 15  Symptoms at admission                            3720 non-null   object
 16  Date of Isolation                                4625 non-null   datetime64[ns]
 17  Sample collected (Yes/No)                        4206 non-null   object
 18  Date of sample collection                        4392 non-null   datetime64[ns]
 19  Sample collection centre                         4516 non-null   object
 20  Sample tested at                                 4530 non-null   object
 21  Lab that confirmed the result                    4510 non-null   object
 22  Underlying medical condition                     327 non-null    object
 23  Current Clinical Status                          4461 non-null   object
 24  Outcome (Discharged/Death/Admitted)              4623 non-null   object
 25  Date of outcome                                  2770 non-null   object
 26  Is patient member of cluster of COVID19(Yes/No)  722 non-null    object
 27  Total Contacts                                   3113 non-null   float64
 28  Remarks                                          92 non-null     object
 29  Date of Reporting                                1627 non-null   datetime64[ns]
dtypes: datetime64[ns](5), float64(2), int64(1), object(22)
memory usage: 1.1+ MB
None

## Dropping irrelevant columns

In [4]:
df=df.drop(['Sr No', 'Hospital Code','Case No.','Occupation','District', 'State','Ward',
            'Sample collected (Yes/No)','Date of arrival in India','Flight No','Seat No',
            'Date of onset of symptoms','Date of sample collection','Remarks','Sample collection centre',
            'Sample tested at','Lab that confirmed the result',
            'Date of Reporting','Date of Isolation','Date of outcome'],axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4626 entries, 0 to 4625
Data columns (total 10 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Age                                              4600 non-null   float64
 1   Gender                                           4624 non-null   object
 2   Travel to COVID afftected country (Yes/No)       134 non-null    object
 3   Contact with COVID19 case (Yes/No)               690 non-null    object
 4   Symptoms at admission                            3720 non-null   object
 5   Underlying medical condition                     327 non-null    object
 6   Current Clinical Status                          4461 non-null   object
 7   Outcome (Discharged/Death/Admitted)              4623 non-null   object
 8   Is patient member of cluster of COVID19(Yes/No)  722 non-null    object
 9   Total Contacts                                   3113 non-null   float64
dtypes: float64(2), object(8)
memory usage: 361.5+ KB

## Filling Missing Age Values

In [6]:
df['Age'].mean()

37.79836956521739

In [7]:
df['Age'].fillna(38,inplace=True)

## Cleaning 'Underlying medical condition'

In [8]:
df['Underlying medical condition'].value_counts(dropna=False)

NaN                                       4299
No                                          74
DM,Hypertension                             50
Hypertension                                40
None                                        35
NO                                          28
DM                                          19
Yes                                          9
ANC                                          7
IHD                                          5
Stable                                       5
COPD                                         4
Asthma                                       4
Hypertension,IHD                             4
DM,Hypertension,IHD                          2
Hypothyroidism                               2
DM,Asthma                                    2
DM,CKD                                       2
Obesity                                      2
Hypertension,Hypothyroidism                  2
Hypertension,Chronic_renal_disease           2
Alcoholic_liver_disease                      2
Hypertension,CKD                             1
Hypertension,Thyroid_disorder                1
Alcoholic,Tobacco_chewer                     1
DM,Hypertension,Chronic_kidney_disease       1
Hypertension,Hemiparesis                     1
Hypothyroidism,Obesity                       1
DM,Hypertension,IHD,Obesity                  1
Hypertension,Asthma,HIV                      1
DM,IHD,Hypertension                          1
HepatitisB                                   1
Hypertension,Hypothyrioidism                 1
IHD,DM,Obesity                               1
CKD,DM                                       1
DM,Hypertension,CKD                          1
no                                           1
HIV                                          1
DM,Hypertension,Hypothyroidism               1
DM,Alcoholic_liver_disease                   1
Bronchitis,Asthma,Hypertension               1
Hypertension,Renal_stone                     1
Chronic_renal_disease                        1
DM,Hypertension,Asthma                       1
Breathlessness                               1
Hypertension,Obesity,                        1
CKD                                          1
Hypertension,Tobaco_chewer                   1
DM,Obesity                                   1
Name: Underlying medical condition, dtype: int64

In [9]:
df = df.fillna({'Underlying medical condition':'No'})
df = df.replace({'Underlying medical condition':['None','NO','no','Stable']},'No')
df = df.replace({'Underlying medical condition':['None','NO']},'No')

In [10]:
# Making different columns for each condition
col=df['Underlying medical condition']

for i in col:
    x=[]
    k=i.split(',')
    for j in k:
        x.append(j.strip())
    
    conditions=['No','DM','Hypertension','Yes','ANC','IHD','COPD','Asthama','Hypothyroidism',
               'Chronic_renal_disease','Obesity','CKD','Alcoholic_liver_disease','Tobaco_chewer',
               'Thyroid_disorder','HepatitisB','HIV','Hemiparesis','Bronchitis','Chronic_kidney_disease',
               'Alcoholic','Renal_stone','Breathlessness']
    
    for ele in conditions:
  
        if ele in x:

      
            df[ele]=1
        
        else:
            df[ele]=0

In [11]:
col=df['Underlying medical condition']
t=0
for i in col:
    x=[]
    k=i.split(',')
    for j in k:
        x.append(j.strip())
    
    conditions=['No','DM','Hypertension','Yes','ANC','IHD','COPD','Asthama','Hypothyroidism',
               'Chronic_renal_disease','Obesity','CKD','Alcoholic_liver_disease','Tobaco_chewer',
               'Thyroid_disorder','HepatitisB','HIV','Hemiparesis','Bronchitis','Chronic_kidney_disease',
               'Alcoholic','Renal_stone','Breathlessness']
    for ele in conditions:
  
        if ele in x:

      
            df[ele][t]=1
        
        else:
            df[ele][t]=0
    t=t+1

C:\Users\jaisw\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\jaisw\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
df = df.drop(['Underlying medical condition'],axis=1)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4626 entries, 0 to 4625
Data columns (total 32 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Age                                              4626 non-null   float64
 1   Gender                                           4624 non-null   object
 2   Travel to COVID afftected country (Yes/No)       134 non-null    object
 3   Contact with COVID19 case (Yes/No)               690 non-null    object
 4   Symptoms at admission                            3720 non-null   object
 5   Current Clinical Status                          4461 non-null   object
 6   Outcome (Discharged/Death/Admitted)              4623 non-null   object
 7   Is patient member of cluster of COVID19(Yes/No)  722 non-null    object
 8   Total Contacts                                   3113 non-null   float64
 9   No                                               4626 non-null   int64
 10  DM                                               4626 non-null   int64
 11  Hypertension                                     4626 non-null   int64
 12  Yes                                              4626 non-null   int64
 13  ANC                                              4626 non-null   int64
 14  IHD                                              4626 non-null   int64
 15  COPD                                             4626 non-null   int64
 16  Asthama                                          4626 non-null   int64
 17  Hypothyroidism                                   4626 non-null   int64
 18  Chronic_renal_disease                            4626 non-null   int64
 19  Obesity                                          4626 non-null   int64
 20  CKD                                              4626 non-null   int64
 21  Alcoholic_liver_disease                          4626 non-null   int64
 22  Tobaco_chewer                                    4626 non-null   int64
 23  Thyroid_disorder                                 4626 non-null   int64
 24  HepatitisB                                       4626 non-null   int64
 25  HIV                                              4626 non-null   int64
 26  Hemiparesis                                      4626 non-null   int64
 27  Bronchitis                                       4626 non-null   int64
 28  Chronic_kidney_disease                           4626 non-null   int64
 29  Alcoholic                                        4626 non-null   int64
 30  Renal_stone                                      4626 non-null   int64
 31  Breathlessness                                   4626 non-null   int64
dtypes: float64(2), int64(23), object(7)
memory usage: 1.1+ MB

## Cleaning 'Current Clinical Status' Column

In [14]:
df['Current Clinical Status'].value_counts(dropna=False)

Stable                            3948
Admitted                           392
NaN                                165
Death                               54
Asymptomatic                        28
DEATH                                9
death                                6
UnStable                             3
on oxygen                            3
Critical                             3
criticl on ventilater                2
PATIENT ON BIPAP                     2
CRITICAL                             1
On Oxygen Support                    1
Critical on o2                       1
Critical on ventilator               1
Intubated                            1
Roudy                                1
NIV                                  1
UnStable on NIV                      1
EXPIRED ON03/05/2020.(2.00 AM)       1
OnO2ICU                              1
In ICU                               1
Name: Current Clinical Status, dtype: int64

In [15]:
df = df.fillna({'Current Clinical Status':'Admitted'})
df = df.replace({'Current Clinical Status':['Admited','ADMITED','Admitted (7A)']},'Admitted')
df = df.replace({'Current Clinical Status':['DEATH','death','EXPIRED ON03/05/2020.(2.00 AM)']},'Death')
df = df.replace({'Current Clinical Status':['Asymptomatic','Unstable','criticl on ventilater','PATIENT ON BIPAP','INTUBATED','CRITICAL',
                                            'UnStable','Critical on ventilator','In ICU','Roudy','UnStable on NIV','Critical on o2','Intubated',
                                            ]},'Critical')
df = df.replace({'Current Clinical Status':['NIV','on oxygen','On Oxygen Support','OnO2ICU']},'Stable')
df['Current Clinical Status'].value_counts(dropna=False)

Stable      3954
Admitted     557
Death         70
Critical      45
Name: Current Clinical Status, dtype: int64

## Cleaning 'Travel to COVID affected country' column

In [16]:
df = df.fillna({'Travel to COVID afftected country (Yes/No)':'No'})
df = df.replace({'Travel to COVID afftected country (Yes/No)':['NO']},'No')
df['Travel to COVID afftected country (Yes/No)'].value_counts(dropna=False)

No     4613
Yes      13
Name: Travel to COVID afftected country (Yes/No), dtype: int64

## Cleaning 'Contacts with COVID case' column

In [17]:
df['Contact with COVID19 case (Yes/No)'].value_counts(dropna=False)

NaN             3936
NO               354
No               161
Yes              107
Stable            60
Yes                3
Asymptomatic       3
no                 1
Hospitalies        1
Name: Contact with COVID19 case (Yes/No), dtype: int64

In [18]:
df = df.fillna({'Contact with COVID19 case (Yes/No)':'No'})
df = df.replace({'Contact with COVID19 case (Yes/No)':['NO','no']},'No')
df = df.replace({'Contact with COVID19 case (Yes/No)':['STABLE','Stable','yes','YES','Yes ','Asymptomatic','Hospitalies']},'Yes')
df['Contact with COVID19 case (Yes/No)'].value_counts()

No     4452
Yes     174
Name: Contact with COVID19 case (Yes/No), dtype: int64

## Cleaning 'Is patitent member of cluster COVID' column

In [19]:
df['Is patient member of cluster of COVID19(Yes/No)'].value_counts(dropna=False)

NaN    3904
NO      523
Yes     112
No       85
no        2
Name: Is patient member of cluster of COVID19(Yes/No), dtype: int64

In [20]:
df = df.replace({'Is patient member of cluster of COVID19(Yes/No)':['NO','no']},'No')
df = df.replace({'Is patient member of cluster of COVID19(Yes/No)':['YES','yes']},'Yes')
df = df.fillna({'Is patient member of cluster of COVID19(Yes/No)':'No'})
df['Is patient member of cluster of COVID19(Yes/No)'].value_counts(dropna=False)

No     4514
Yes     112
Name: Is patient member of cluster of COVID19(Yes/No), dtype: int64

##  Filling 'Total contacts' column

In [21]:
df['Total Contacts'].value_counts(dropna=False)

0.0     1547
NaN     1513
3.0      206
4.0      183
5.0      182
6.0      134
2.0      119
7.0      114
8.0       91
1.0       75
9.0       69
10.0      62
11.0      49
12.0      46
13.0      41
14.0      40
16.0      23
15.0      22
22.0      18
18.0      15
17.0      11
34.0      10
21.0       9
19.0       7
25.0       6
27.0       6
29.0       6
24.0       4
28.0       3
23.0       2
36.0       2
30.0       2
31.0       1
20.0       1
64.0       1
40.0       1
48.0       1
39.0       1
35.0       1
37.0       1
45.0       1
Name: Total Contacts, dtype: int64

In [22]:
df = df.fillna({'Total Contacts':0})

## Cleaning 'Symptoms' column

In [23]:
df['Symptoms at admission '].value_counts(dropna=False)

Fever,Cough                                   2268
NaN                                            906
Cough,Cold,Fever                               815
Asymptomatic                                   184
Breathlessness                                  59
                                              ...
Chest pain                                       1
Fever,Sore Throat,Cough                          1
Cough,Breathlessness,Sore Thoat,Chest pain       1
 Cough,Breathlessness,Fever                      1
Cough,Diarrhoea                                  1
Name: Symptoms at admission , Length: 154, dtype: int64

In [24]:
df['Symptoms at admission '].fillna('Fever',inplace=True)
df['Symptoms at admission '].isnull().sum()

0

In [25]:
#Making different columns for each symptom


col=df['Symptoms at admission ']

for i in col:
    x=[]
    k=i.split(',')
    for j in k:
        x.append(j.strip())
    
    symptoms=['Fever','Cold','Cough','Breathlessness','Weakness','Vomiting','Sore Throat','Chest pain','Loss of appetite','Nausea','Abdominal pain','Loose motion','Diarrhoea']
    
    for ele in symptoms:
  
        if ele in x:

      
            df[ele]=1
        
        else:
            df[ele]=0

In [26]:
#Making different columns for each symptom


col=df['Symptoms at admission ']
t=0
for i in col:
    x=[]
    k=i.split(',')
    for j in k:
        x.append(j.strip())
    
    symptoms=['Fever','Cold','Cough','Breathlessness','Weakness','Vomiting','Sore Throat','Chest pain','Loss of appetite','Nausea','Abdominal pain','Loose motion','Diarrhoea']
    
    for ele in symptoms:
  
        if ele in x:

      
            df[ele][t]=1
        
        else:
            df[ele][t]=0
    t=t+1

C:\Users\jaisw\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\jaisw\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
df = df.drop(['Symptoms at admission '],axis=1)

## Cleaning 'Outcome' column

In [28]:
df['Outcome (Discharged/Death/Admitted)'].value_counts()

Admitted      2558
Discharged    1599
Death          194
DIscharged     135
discharged     122
dIscharged       6
death            5
DEATH            4
Name: Outcome (Discharged/Death/Admitted), dtype: int64

In [29]:
df = df.replace({'Outcome (Discharged/Death/Admitted)':['ADMITTED','Admitted ']},'Admitted')
df = df.replace({'Outcome (Discharged/Death/Admitted)':['DIscharged','discharged','dIscharged']},'Discharged')
df = df.replace({'Outcome (Discharged/Death/Admitted)':['death','DEATH']},'Death')
df['Outcome (Discharged/Death/Admitted)'].value_counts()

Admitted      2558
Discharged    1862
Death          203
Name: Outcome (Discharged/Death/Admitted), dtype: int64

In [30]:
df['Outcome']=df['Outcome (Discharged/Death/Admitted)']
df=df.drop('Outcome (Discharged/Death/Admitted)',axis=1)
df=df[(df.Outcome=='Death')|(df.Outcome=='Admitted')]
df.head()

,Age,Gender,Travel to COVID afftected country (Yes/No),Contact with COVID19 case (Yes/No),Current Clinical Status,Is patient member of cluster of COVID19(Yes/No),Total Contacts,No,DM,Hypertension,...,Weakness,Vomiting,Sore Throat,Chest pain,Loss of appetite,Nausea,Abdominal pain,Loose motion,Diarrhoea,Outcome
18,52.0,M,No,No,Death,No,36.0,1,0,0,...,0,0,0,0,0,0,0,0,0,Death
19,40.0,M,No,No,Stable,No,64.0,0,0,0,...,0,1,0,0,0,0,1,0,0,Death
41,65.0,F,No,No,Stable,No,25.0,0,0,0,...,0,1,0,0,0,1,0,0,0,Death
44,69.0,F,No,No,Death,No,1.0,1,0,0,...,0,0,0,0,0,0,0,0,0,Death
45,73.0,F,No,No,Stable,No,12.0,1,0,0,...,0,0,0,0,0,0,0,0,0,Death

In [31]:
df['Outcome'].value_counts(dropna =False)

Admitted    2558
Death        203
Name: Outcome, dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2761 entries, 18 to 4625
Data columns (total 43 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Age                                              2761 non-null   float64
 1   Gender                                           2759 non-null   object
 2   Travel to COVID afftected country (Yes/No)       2761 non-null   object
 3   Contact with COVID19 case (Yes/No)               2761 non-null   object
 4   Current Clinical Status                          2761 non-null   object
 5   Is patient member of cluster of COVID19(Yes/No)  2761 non-null   object
 6   Total Contacts                                   2761 non-null   float64
 7   No                                               2761 non-null   int64
 8   DM                                               2761 non-null   int64
 9   Hypertension                                     2761 non-null   int64
 10  Yes                                              2761 non-null   int64
 11  ANC                                              2761 non-null   int64
 12  IHD                                              2761 non-null   int64
 13  COPD                                             2761 non-null   int64
 14  Asthama                                          2761 non-null   int64
 15  Hypothyroidism                                   2761 non-null   int64
 16  Chronic_renal_disease                            2761 non-null   int64
 17  Obesity                                          2761 non-null   int64
 18  CKD                                              2761 non-null   int64
 19  Alcoholic_liver_disease                          2761 non-null   int64
 20  Tobaco_chewer                                    2761 non-null   int64
 21  Thyroid_disorder                                 2761 non-null   int64
 22  HepatitisB                                       2761 non-null   int64
 23  HIV                                              2761 non-null   int64
 24  Hemiparesis                                      2761 non-null   int64
 25  Bronchitis                                       2761 non-null   int64
 26  Chronic_kidney_disease                           2761 non-null   int64
 27  Alcoholic                                        2761 non-null   int64
 28  Renal_stone                                      2761 non-null   int64
 29  Breathlessness                                   2761 non-null   int64
 30  Fever                                            2761 non-null   int64
 31  Cold                                             2761 non-null   int64
 32  Cough                                            2761 non-null   int64
 33  Weakness                                         2761 non-null   int64
 34  Vomiting                                         2761 non-null   int64
 35  Sore Throat                                      2761 non-null   int64
 36  Chest pain                                       2761 non-null   int64
 37  Loss of appetite                                 2761 non-null   int64
 38  Nausea                                           2761 non-null   int64
 39  Abdominal pain                                   2761 non-null   int64
 40  Loose motion                                     2761 non-null   int64
 41  Diarrhoea                                        2761 non-null   int64
 42  Outcome                                          2761 non-null   object
dtypes: float64(2), int64(35), object(6)
memory usage: 949.1+ KB

In [33]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2759 entries, 18 to 4625
Data columns (total 43 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Age                                              2759 non-null   float64
 1   Gender                                           2759 non-null   object
 2   Travel to COVID afftected country (Yes/No)       2759 non-null   object
 3   Contact with COVID19 case (Yes/No)               2759 non-null   object
 4   Current Clinical Status                          2759 non-null   object
 5   Is patient member of cluster of COVID19(Yes/No)  2759 non-null   object
 6   Total Contacts                                   2759 non-null   float64
 7   No                                               2759 non-null   int64
 8   DM                                               2759 non-null   int64
 9   Hypertension                                     2759 non-null   int64
 10  Yes                                              2759 non-null   int64
 11  ANC                                              2759 non-null   int64
 12  IHD                                              2759 non-null   int64
 13  COPD                                             2759 non-null   int64
 14  Asthama                                          2759 non-null   int64
 15  Hypothyroidism                                   2759 non-null   int64
 16  Chronic_renal_disease                            2759 non-null   int64
 17  Obesity                                          2759 non-null   int64
 18  CKD                                              2759 non-null   int64
 19  Alcoholic_liver_disease                          2759 non-null   int64
 20  Tobaco_chewer                                    2759 non-null   int64
 21  Thyroid_disorder                                 2759 non-null   int64
 22  HepatitisB                                       2759 non-null   int64
 23  HIV                                              2759 non-null   int64
 24  Hemiparesis                                      2759 non-null   int64
 25  Bronchitis                                       2759 non-null   int64
 26  Chronic_kidney_disease                           2759 non-null   int64
 27  Alcoholic                                        2759 non-null   int64
 28  Renal_stone                                      2759 non-null   int64
 29  Breathlessness                                   2759 non-null   int64
 30  Fever                                            2759 non-null   int64
 31  Cold                                             2759 non-null   int64
 32  Cough                                            2759 non-null   int64
 33  Weakness                                         2759 non-null   int64
 34  Vomiting                                         2759 non-null   int64
 35  Sore Throat                                      2759 non-null   int64
 36  Chest pain                                       2759 non-null   int64
 37  Loss of appetite                                 2759 non-null   int64
 38  Nausea                                           2759 non-null   int64
 39  Abdominal pain                                   2759 non-null   int64
 40  Loose motion                                     2759 non-null   int64
 41  Diarrhoea                                        2759 non-null   int64
 42  Outcome                                          2759 non-null   object
dtypes: float64(2), int64(35), object(6)
memory usage: 948.4+ KB

## Transforming the dataset

In [34]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [35]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1,2,3,4,5])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

ModuleNotFoundError: No module named 'sklearn.compose'

In [ ]:
print(X)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
print(y)

## Splitting data into Training and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier_log = LogisticRegression(random_state = 0)
classifier_log.fit(X_train, y_train)

In [ ]:
y_pred_log = classifier_log.predict(X_test)
print(np.concatenate((y_pred_log.reshape(len(y_pred_log),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.metrics import classification_report
cm_log = confusion_matrix(y_test, y_pred_log)
print(cm_log)
accuracy_score(y_test, y_pred_log)

# KNN CLassifier

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier_knn = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier_knn.fit(X_train, y_train)

In [ ]:
y_pred_knn = classifier_knn.predict(X_test)
print(np.concatenate((y_pred_knn.reshape(len(y_pred_knn),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
cm_knn = confusion_matrix(y_test, y_pred_knn)
print(cm_knn)
accuracy_score(y_test, y_pred_knn)

# Support vector Classifier

In [ ]:
from sklearn.svm import SVC
classifier_svc = SVC(kernel = 'linear', random_state = 0)
classifier_svc.fit(X_train, y_train)

In [ ]:
y_pred_svc = classifier_svc.predict(X_test)
print(np.concatenate((y_pred_svc.reshape(len(y_pred_svc),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
cm_svc = confusion_matrix(y_test, y_pred_svc)
print(cm_svc)
accuracy_score(y_test, y_pred_svc)

# Support Vector 'rbf' Classifier

In [ ]:
from sklearn.svm import SVC
classifier_svcrbf = SVC(kernel = 'rbf', random_state = 1)
classifier_svcrbf.fit(X_train, y_train)

In [ ]:
y_pred_svcrbf = classifier_svcrbf.predict(X_test)
print(np.concatenate((y_pred_svcrbf.reshape(len(y_pred_svcrbf),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
cm_svcrbf = confusion_matrix(y_test, y_pred_svcrbf)
print(cm_svcrbf)
accuracy_score(y_test, y_pred_svcrbf)

# Gaussian NB Classifier

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier_nb = GaussianNB()
classifier_nb.fit(X_train, y_train)

In [ ]:
y_pred_nb = classifier_nb.predict(X_test)
print(np.concatenate((y_pred_nb.reshape(len(y_pred_nb),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
cm_nb = confusion_matrix(y_test, y_pred_nb)
print(cm_nb)
accuracy_score(y_test, y_pred_nb)

# Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier_dt = DecisionTreeClassifier(criterion = 'entropy', random_state = 2)
classifier_dt.fit(X_train, y_train)

In [ ]:
y_pred_dt = classifier_dt.predict(X_test)
print(np.concatenate((y_pred_dt.reshape(len(y_pred_dt),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
cm_dt = confusion_matrix(y_test, y_pred_dt)
print(cm_dt)
accuracy_score(y_test, y_pred_dt)

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier_rf = RandomForestClassifier(n_estimators = 100, criterion ='gini',random_state=10)
classifier_rf.fit(X_train, y_train)

In [ ]:
y_pred_rf = classifier_rf.predict(X_test)
print(np.concatenate((y_pred_rf.reshape(len(y_pred_rf),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
cm_rf = confusion_matrix(y_test, y_pred_rf)
print(cm_rf)
accuracy_score(y_test, y_pred_rf)

# Nearest Centroid Classifier

In [ ]:
from sklearn.neighbors import NearestCentroid
classifier_nc = NearestCentroid()
classifier_nc.fit(X_train,y_train)

In [ ]:
y_pred_nc = classifier_nc.predict(X_test)
print(np.concatenate((y_pred_nc.reshape(len(y_pred_nc),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
cm_nc = confusion_matrix(y_test, y_pred_nc)
print(cm_nc)
accuracy_score(y_test, y_pred_nc)